<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.homework.product.model.dao.ProductMapper">

    <select id="findAllProduct" resultType="com.ohgiraffers.homework.product.model.dto.ProductDTO">
        SELECT
            PRODUCT_CODE,
            PRODUCT_NAME,
            ORIGIN_COST,
            RELEASE_DATE,
            DISCOUNT_RATE,
            SALES_QUANTITY,
            STOCK_QUANTITY,
            CATEGORY_CODE,
            PRODUCTION_STATUS
        FROM
            PRODUCT_INFO
        WHERE
            PRODUCTION_STATUS = 'Y'
        ORDER BY
            PRODUCT_CODE
    </select>

    <insert id="registProduct">
        INSERT INTO
            PRODUCT_INFO(
        PRODUCT_NAME,
        ORIGIN_COST,
        RELEASE_DATE,
        DISCOUNT_RATE,
        SALES_QUANTITY,
        STOCK_QUANTITY,
        CATEGORY_CODE,
        PRODUCTION_STATUS)
        VALUES
            (#{ productName }, #{ originCost }, #{ releaseDate }, #{ discountRate },#{ salesQuantity },
        #{ stockQuantity },#{ categoryCode },#{ productionStatus })
    </insert>

</mapper>










